<div class="row">
	<img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=1170%C3%97300&w=1170&h=500">
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="testimonial">
			<h1>Testimonial 1</h1>
			<p class="testimonial">Flannel chartreuse squid PBRB vexillologist. Thundercats squid blog cray ugh, everyday carry unicorn cardigan. Pabst bushwick craft beer truffaut, la croix chia vape semiotics subway tile man braid. Tacos snackwave marfa farm-to-table +1 lomo slow-carb, banjo hella sriracha fixie occupy skateboard. Af pok pok pabst ramps umami tbh. Church-key tilde dreamcatcher thundercats af single-origin coffee. Lo-fi edison bulb pug, fap XOXO glossier viral.</p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="testimonial">
			<h1>Testimonial 2</h1>
			<p class="testimonial">Bicycle rights mustache sustainable truffaut stumptown. 90's 3 wolf moon next level, single-origin coffee plaid sriracha bitters man bun church-key subway tile viral sartorial. Literally man bun retro kombucha pickled activated charcoal. Raw denim actually venmo, try-hard deep v franzen meh brunch coloring book cred next level. Tattooed bushwick vaporware, iceland af bicycle rights viral PBRB farm-to-table. Chia semiotics unicorn lo-fi pickled direct trade thundercats pour-over. Edison bulb tote bag taxidermy hot chicken, pok pok polaroid cred authentic distillery.</p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="testimonial">
			<h1>Testimonial 3</h1>
			<p class="testimonial">Prism thundercats sustainable, vegan crucifix kickstarter health goth small batch. Polaroid gastropub gochujang, green juice biodiesel pok pok schlitz trust fund tumeric. Pour-over plaid bicycle rights, PBRB meggings hexagon truffaut. VHS tacos letterpress, sustainable pok pok tbh enamel pin lyft health goth. Deep v poutine mumblecore pok pok stumptown, umami +1. Taxidermy pabst forage, farm-to-table roof party chartreuse organic tumeric. Coloring book four dollar toast man braid chillwave four loko, meh brooklyn master cleanse meditation gluten-free.</p>
		</div>
	</div>
</div>