@import 'variables';

html {
	min-height: 100%;
}

body {
	margin-bottom: $footer-height;
	background-color: $bg-color;
	color: $light-font-color;
}

// Navbar
.header {
	min-height: $navbar-height;
	border-radius: 0;
	.navbar-default {
		background-color: #edb744;
		border: none;
		.navbar-nav > li > a {
			padding: $navbar-padding;
			color: $bg-color;
		}
	}
	.navbar-brand {
		height: $navbar-height;
		padding: $navbar-padding;
		float: none;
	}
}

// Footer
.footer {
	// position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-height;
	background-color: #f5f5f5;
}